{% extends "home.html.twig" %}

{% block body %}

<h3>User's List Here!</h3>

<table id="articles" class="table table-striped">
    <thead>
        <tr>
            <th>User Name</th>
            <th>Action</th>
        </tr>
    <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.name }}</td>
                <td>
                    <a href="{{  path('show_user', { id: user.id }) }}" class="btn btn-dark">Show</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
    </thead>
</table>

{% endblock %}

